.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background: rgba(234, 218, 234, 0.967);
}

.overview{
  max-width: 500px;
}

.search{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  justify-content: space-between;
}

.modal{
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  background-color: "grey";
  width: 400;
  height: 400;
}

.movie{
  max-width: 25%;
  flex: 0 0 25%
}

.image_wrapper{
  position: relative;
  height: 200px;
  width: 257px;
}

.movie_overview{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.image:hover{
  background-color: red;
  opacity:1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
